.App {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 2%;
    height: 1200px;
}
.top {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 80%;
    
    
}
.view {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 2%;
    width: 90%;
    

}
.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    width: 10%;
    margin: 2%;

}

.header {
    border: 1px solid black;
    margin: 2%;
    height: 10%;
}
.view-box {
    border: 1px solid black;
    margin: 2%;
    height: 90%;
    
}
.videos-view {
    display: flex;
    width: inherit;
    height: inherit;
    align-items: center;
    justify-content: center;
}


.list-box {
    height: 20%;
    border: 1px solid black;
    margin-top: 2%;
    
}
.videos-list, .projects-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    
    
}


.project-thumb img {
    height: 100px;
    width: 100px;
}
.projects-view {
    height: 100%;
    display: flex;
    justify-content: center;
}

.projects-view iframe {
    
    height: inherit;
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;

}





