

.App {
    display: flex;
    box-sizing: border-box;
    margin: 2%;
}
.view {
    
    display: flex;
    flex-direction: column;
    width: 90%;
}
.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    width: 10%;
    height: 600px;
    margin-left: 2%;

}

.header {
    border: 1px solid black;
    height: 100px;
}

.list-box {
    height: 100px;
    
    margin-bottom: 2%;  
}
.projects-list, .videos-list {
    height: inherit;
    display: flex;
    justify-content: space-around; 
}
.project-thumb, .video-thumb {
    height: 100px;
    width: 100px;
}
.view-box {
    display: flex;
    justify-content: center;
}
.home-view {
    width: 80%;
    height: 80%;
}
.projects-view {
    
    height: 600px;
}
.video-view {

}



/* .projects-view {
    height: 100%;
    display: flex;
    justify-content: center;
}

.projects-view iframe {
    
    height: inherit;
    width: 40%;
    border: 1px solid black;
    border-radius: 10px;

}
.home-view {
    height: 100%;
    
    
}
.videos-view {
    display: flex;
    width: inherit;
    height: inherit;
    align-items: center;
    justify-content: center;
} */




