

.App {
    display: flex;
    box-sizing: border-box;
    margin: 2%;
}
.view {
    
    display: flex;
    flex-direction: column;
    width: 80%;
}
.nav-box {
    width: 20%;
    display: flex;
    height: 600px;
}
.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    width: 50%;
    
    margin-left: 2%;

}
.list-box {
    width: 50%;
}
.projects-list, .videos-list {
    height: 600px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
}
.project-thumb, .video-thumb {
    height: 100px;
    width: 100px;
}

.header {
    height: 100px;
}


.view-box {
    display: flex;
    justify-content: center;
    height: 500px;
}
.projects-view {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.bandcamp-embed {
    height: 100%;
}
.projects-info {

}